.right{
    width: 48%;
    height: 123vh;
    margin-top: 2rem;
}

.right_title{
    width: 100%;
    height: 4rem;
}

.right_title h1{
    font-size: 1.7rem;
    font-weight: 800;
    color: #fff;
}

.right_title p{
    font-size: .8rem;
    color: #fff;
}

.right_cardList{
    height: 86vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right_cardList_programacao, 
.right_cardList_front-end, 
.right_cardList_data-science,
.right_cardList_devops,
.right_cardList_ux-design,
.right_cardList_mobile,
.right_cardList_inovacao-gestao{
    background-color: #051d3b;
    border: 1px solid #1472e5;
    border-radius: 10px;
    margin-top: .5rem;
    height: 12rem;
    width: 11rem;
}

.right_cardList_programacao_title,
.right_cardList_front-end_title,
.right_cardList_data-science_title,
.right_cardList_devops_title,
.right_cardList_ux-design_title,
.right_cardList_mobile_title,
.right_cardList_inovacao-gestao_title{
    background-color: #051d3b;
    margin: 1rem;
}

.right_cardList_programacao_title img,
.right_cardList_front-end_title img,
.right_cardList_data-science_title img,
.right_cardList_devops_title img,
.right_cardList_ux-design_title img,
.right_cardList_mobile_title img,
.right_cardList_inovacao-gestao_title img{
    background-color: #051d3b;
    width: 2.5rem;
}

.right_cardList_programacao_title h3{
    background-color: #051d3b;
    color: #00c86f;
    font-size: .8rem;
    font-weight: 100;
}

.right_cardList_front-end_title h3{
    background-color: #051d3b;
    color: #6bd1ff;
    font-size: .8rem;
    font-weight: 100;
}

.right_cardList_data-science_title h3{
    background-color: #051d3b;
    color: #9cd33b;
    font-size: .8rem;
    font-weight: 100;
}

.right_cardList_devops_title h3{
    background-color: #051d3b;
    color: #f16165;
    font-size: .8rem;
    font-weight: 100;
}

.right_cardList_ux-design_title h3{
    background-color: #051d3b;
    color: #dc6ebe;
    font-size: .8rem;
    font-weight: 100;
}

.right_cardList_mobile_title h3{
    background-color: #051d3b;
    color: #ffba05;
    font-size: .8rem;
    font-weight: 100;
}

.right_cardList_inovacao-gestao_title h3{
    background-color: #051d3b;
    color: #ff8c2a;
    font-size: .8rem;
    font-weight: 100;
}

.right_cardList_programacao_title h2{
    background-color: #051d3b;
    color: #00c86f;
    font-size: .8rem;
    text-transform: uppercase;
}

.right_cardList_front-end_title h2{
    background-color: #051d3b;
    color: #6bd1ff;
    font-size: .8rem;
    text-transform: uppercase;
}

.right_cardList_data-science_title h2{
    background-color: #051d3b;
    color: #9cd33b;
    font-size: .8rem;
    text-transform: uppercase;
}

.right_cardList_devops_title h2{
    background-color: #051d3b;
    color: #f16165;
    font-size: .8rem;
    text-transform: uppercase;
}

.right_cardList_ux-design_title h2{
    background-color: #051d3b;
    color: #dc6ebe;
    font-size: .8rem;
    text-transform: uppercase;
}

.right_cardList_mobile_title h2{
    background-color: #051d3b;
    color: #ffba05;
    font-size: .8rem;
    text-transform: uppercase;
}

.right_cardList_inovacao-gestao_title h2{
    background-color: #051d3b;
    color: #ff8c2a;
    font-size: .8rem;
    text-transform: uppercase;
}

.right_cardList_programacao_info,
.right_cardList_front-end_info,
.right_cardList_data-science_info,
.right_cardList_devops_info,
.right_cardList_ux-design_info,
.right_cardList_mobile_info,
.right_cardList_inovacao-gestao_info{
    background-color: #051d3b;
    color: #fff;
    margin: 1rem;
    font-size: .8rem;
}

.right_card_fazer-matricula{
    background-image: url(./img/background-matricule-se.svg);
    background-repeat: no-repeat;
    background-size: 110% 120%;
    background-position: center;

    border-radius: 5px;
    margin-top: 10rem;
    width: 100%;
    height: 35vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.right_card_fazer-matricula h2{
    color: #fff;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 700;
}

.right_card_fazer-matricula h3{
    background-color: transparent;
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 1.3rem;
    font-weight: 100;
}

.right_card_fazer-matricula button{
    background-color: #fff;
    color: #1265cb;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    font-size: .7rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1rem;
    width: 13rem;
    height: 3rem;
}